doctype html
html
  head
    meta(charset="UTF-8")
    style.
      @import 'https://necolas.github.io/normalize.css/5.0.0/normalize.css';
      @font-face {
        font-family: 'DIn pIqaD';
        src: url('../dist/DIn pIqaD.woff');
      }

      body {
        font-family: 'DIn pIqaD', sans-serif;
        margin: 1em;
        font-size: 1.4em;
        background: black;
        color: #DE0012;
      }

      h1 {
        font-size: 2em;
        line-height: .8;
      }

      small {
        color: #FBCA4B;
      }


    title Geometric Shapes Demo

  body

    h1
      | 
      br
      small 
    
    table
      tr
        th(width="33%") DIn pIqaD
        th(width="33%") Okrand-Transcription
        th(width="33%") English
      tr
        td     
        td qajunpaQHeylIjmo’ batlh DuSuvqang charghwI’ ’It.
        td Because of your apparent audacity the depressed conqueror is willing to fight you.